<header>
  <nav>
    <div>
    <%= link_to "Athletes Den", root_path, class: "brand" %>
    </div>
    <div class="navbar-collapse collapse">
      <ul>
        <li class="active"><%= link_to "Home", root_path %>
          <span class="sr only">(current)</span>
        </li>
      </ul>
      <ul class="navbar-right">
        <% if user_signed_in? %>
        <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
          <div class="navbar-text">
            <p class = "navbar-text">Signed in as <%= "#{current_user.email}" %></p>
          </div>
        <% else %>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
          <li><%= link_to "Sign in", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>